/*
---01 TYPOGRAPHY SYSTEM

  FONT WEIGHT
  LINE-HEIGHT
  FONT SIZE SYSTEM (px)
 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

---02 COLORS
 PRYMARY  #e67e22
 TINTS #fdf2e9
 SHADOWS
 ACCENTS
 GREYS
 #555
 #333;
---05 SHADOWS
---06 BORDER-RADIUS
---07 WHITE SPACE
      --SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

          */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.btn:link,
.btn:visited {
  background-color: #e67e22;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 1rem;
  font-weight: bold;
}
.hero-img {
  width: 100%;
}
.hero-text-box {
}
.hero-img-box {
}
